body{
    background-color:#E3F7FE;
    font-family: sans-serif;
}

.foto{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-bottom: 20px;
}

.about p{
    margin: auto;
    text-align: justify;
    width: 500px;
    height: auto;
    padding-bottom: 5px;
}

.academicresume{
    margin: auto;
    text-align: left;
    width: 500px;
    height: auto;
    padding-bottom: 5px;
}

a{
    color:black;
    text-decoration: none;
}

.hobbys{
    margin: auto;
    text-align: left;
    width: 500px;
    height: auto;
    padding-bottom: 5px;
}

.favoritemovie{
    margin: auto;
    text-align: left;
    margin: auto;
    width: 500px;
    height: auto;
}